<div class="divComercial">Entre em contato agora com nosso comercial para liberar a Formação completa.<button mat-raised-button (click)="openNewTab()" color="warn" class="btnComercial" >Enviar WhatsApp</button></div>
<mat-toolbar color="primary">
<button
  mat-icon-button
  class="example-icon"
  aria-label="Example icon-button with menu icon" 
  (click)="openDialog()"
>
  <mat-icon>menu</mat-icon>
</button>
<span></span>
<span class="example-spacer"></span>
<button mat-button [matMenuTriggerFor]="menu">Aluno Harve</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
<button mat-menu-item routerLink="/listacursos" >Meus Cursos</button>
<button mat-menu-item disabled="true">Marcar mentoria</button>
<button mat-menu-item disabled="true">Editar perfil</button>
<button mat-menu-item disabled="true">Logout</button>
</mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>

