<mat-toolbar color="primary">
<button
  mat-icon-button
  class="example-icon"
  aria-label="Example icon-button with menu icon" 
  (click)="openDialog()"
>
  <mat-icon>menu</mat-icon>
</button>
<span></span>
<span class="example-spacer"></span>
<button mat-button [matMenuTriggerFor]="menu">Aluno Harve</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
<button mat-menu-item>Meus Cursos</button>
<button mat-menu-item>Marcar mentoria</button>
<button mat-menu-item>Editar perfil</button>
<button mat-menu-item>Logout</button>
</mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>

