/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  font-family: "Studio-Feixen-Sans", Arial;
}

[hidden] {
  display: none !important;
}
a {
  color: rgb(15, 15, 15);
  text-decoration: none; /* no underline */
}

h1{
  font-size: medium;
}

.btnMenu{
  width: 100%;
}

.mat-dialog-container{

  padding: 0px!important;
  overflow-x: hidden!important;
  font-size: small;
}

.progressbar{
  width: 300px !important;
}

.divComercial
{
  background-color: #E5E1DA;
  padding: 8px;
  color: #05192D;
}

.btnComercial
{
  background-color: green !important;
}